<style>
* { font-family: monospace; }
body, html { padding: 0; margin: 0; font-size: 30px; }
img { height: 50%; }
section { width: 100%; height: 100vh; justify-content: center; display: flex; align-items: center; flex-direction: column; }
h1, h2, h3 { line-height: 1em; padding: 0; margin: 10px; }
</style>

<section>
  <h1>Procedural Generation</h1>
</section>

<section>
  <h2>Maps</h2>
  <img src="./isaac.png" alt="">
  <small>The Binding of Isaac</small>
</section>

<section>
  <h2>Dungeons</h2>
  <img src="./nt.gif" alt="">
  <small>Nuclear Throne</small>
</section>

<section>
  <h2>Worlds</h2>
  <img src="./minecraft.jpg" alt="">
  <small>Minecraft</small>
</section>

<section>
  <h2>Infinite worlds</h2>
  <img src="./infinite_GJWuVwZO98s.png" alt="">
  <small>youtube.com/watch?v=GJWuVwZO98s</small>
</section>

<section>
  <h2>Mobs</h2>
  <img src="./no_mans_sky.png" alt="">
  <small>No Man's Sky</small>
</section>

<section>
  <h2>Characters</h2>
  <img src="./spum.png" alt="">
  <small>SPUM - character generation</small>
</section>

<section>
  <h2>Animation</h2>
  <img src="./rainworld.jpeg" alt="">
  <small>youtube.com/watch?v=sVntwsrjNe4</small>
  <small>Rainworld</small>
</section>

<section>
  <h2>Animation 3D</h2>
  <img src="./overgrowth.jpg" alt="">
  <small>youtube.com/watch?v=LNidsMesxSE</small>
  <small>Overgrowth</small>
</section>


<section>
  <h2>Buildings</h2>
  <img src="./townscaper.gif" alt="">
  <small>Townscaper</small>
</section>

<section>
  <h2>Buildings</h2>
  <img src="./houdini.jpg" alt="">
  <small>youtube.com/watch?v=CpjnruoX5sM</small>
  <small>Houdini</small>
</section>

<section>
  <h2>Planets</h2>
  <img src="./planetarium.gif" alt="">
  <small>managore.itch.io/planetarium</small>
</section>


<script>
const jump = (e, change) => {
  const nn = +location.hash.replace("#", "") + change;
  const s = document.querySelectorAll("section")[nn];
  if (s) {
    s.scrollIntoView();
    location.hash = nn;
    e.preventDefault();
  }
};
document.body.addEventListener("keydown", (e) => {
  switch(e.key) {
    case "ArrowRight":
    case "ArrowDown":
    case " ":
    case "Enter":
      jump(e, 1); break;
    case "ArrowLeft":
    case "ArrowUp":
    case "Backspace":
      jump(e, -1); break;
  }
});
</script>
