<style>
*{font-family: monospace; font-weight: 400; }
h1{font-size: 40px}
textarea{font-size: 20px;}
button{font-size: 30px;}
</style>

<h1>jspdf test</h1>

<textarea style="width: 400px; height: 300px" id="profile_1">
{
  "id": 280185,
  "first_name": "John",
  "last_name": "Doe",
  "status": "active",
  "viewable": true,
  "email": "john_doe@test.com",
  "avatar": {
    "thumbnail_url": "NOTHING",
    "full_url": "NOTHING",
    "rounded_url": "NOTHING",
    "custom": false
  },
  "roles": [],
  "statistics": {
    "points_sum": 0,
    "hours_saved": 0,
    "tasks_count": 0,
    "skills_count": 4,
    "percentage_rating": 0,
    "offered_help_count": 0,
    "messages_sent_count": 0,
    "progress_completion": 5,
    "skills_ranked_count": 3,
    "invite_acceptance_percentage": 0,
    "pending_change_requests_count": 0
  },
  "positions": [
    {
      "id": 664053,
      "summary": null,
      "start_date": null,
      "end_date": null,
      "current": true,
      "main": true,
      "job_title": [
        {
          "id": 5278,
          "value": "Art Director",
          "global_id": "esco_14366",
          "admin_approved": true,
          "text": "Art Director",
          "experience": null,
          "interest": true,
          "top": false,
          "developmental": false,
          "assessed": false
        }
      ]
    }
  ],
  "permissions_group": {
    "id": 1,
    "name": "default",
    "display_as": "Default!!!!"
  },
  "office": [
    {
      "id": 34840842,
      "value": "Sydney",
      "global_id": null,
      "admin_approved": false,
      "text": "Sydney",
      "experience": null,
      "interest": true,
      "top": false,
      "developmental": false,
      "assessed": false
    }
  ],
  "skills": [
    {
      "id": 38948984,
      "value": "FMEA (Failure Mode and Effects Analysis)",
      "global_id": "esco_19607",
      "admin_approved": false,
      "text": "FMEA (Failure Mode and Effects Analysis)",
      "experience": null,
      "interest": true,
      "top": true,
      "developmental": false,
      "assessed": false
    },
    {
      "id": 12118,
      "value": "API",
      "global_id": "hal_104077",
      "admin_approved": false,
      "text": "API",
      "experience": 5,
      "interest": true,
      "top": false,
      "developmental": false,
      "assessed": false
    },
    {
      "id": 718,
      "value": "Ruby",
      "global_id": "esco_14399",
      "admin_approved": true,
      "text": "Ruby",
      "experience": 5,
      "interest": true,
      "top": false,
      "developmental": false,
      "assessed": false
    },
    {
      "id": 719,
      "value": "Ruby on Rails",
      "global_id": "sov_105181",
      "admin_approved": false,
      "text": "Ruby on Rails",
      "experience": 5,
      "interest": true,
      "top": false,
      "developmental": false,
      "assessed": false
    }
  ]
}
</textarea>

<textarea style="width: 400px; height: 300px" id="profile_2">
{
  "id": 280185,
  "first_name": "Jane",
  "last_name": "Kovalsky",
  "status": "active",
  "viewable": true,
  "email": "janekovalsky@test.com",
  "avatar": {
    "thumbnail_url": "NOTHING",
    "full_url": "NOTHING",
    "rounded_url": "NOTHING",
    "custom": false
  },
  "roles": [],
  "statistics": {
    "points_sum": 0,
    "hours_saved": 0,
    "tasks_count": 0,
    "skills_count": 4,
    "percentage_rating": 0,
    "offered_help_count": 0,
    "messages_sent_count": 0,
    "progress_completion": 5,
    "skills_ranked_count": 3,
    "invite_acceptance_percentage": 0,
    "pending_change_requests_count": 0
  },
  "positions": [
    {
      "id": 664053,
      "summary": null,
      "start_date": null,
      "end_date": null,
      "current": true,
      "main": true,
      "job_title": [
        {
          "id": 5278,
          "value": "Boss of all Bosses",
          "global_id": "esco_14366",
          "admin_approved": true,
          "text": "Art Director",
          "experience": null,
          "interest": true,
          "top": false,
          "developmental": false,
          "assessed": false
        }
      ]
    }
  ],
  "permissions_group": {
    "id": 1,
    "name": "default",
    "display_as": "Default!!!!"
  },
  "office": [
    {
      "id": 34840842,
      "value": "London",
      "global_id": null,
      "admin_approved": false,
      "text": "Sydney",
      "experience": null,
      "interest": true,
      "top": false,
      "developmental": false,
      "assessed": false
    }
  ],
  "skills": [
    {
      "id": 38948984,
      "value": "Ruby",
      "global_id": "esco_19607",
      "admin_approved": false,
      "text": "Ruby",
      "experience": null,
      "interest": true,
      "top": true,
      "developmental": false,
      "assessed": false
    },
    {
      "id": 12118,
      "value": "Java",
      "global_id": "hal_104077",
      "admin_approved": false,
      "text": "Java",
      "experience": 5,
      "interest": true,
      "top": false,
      "developmental": false,
      "assessed": false
    },
    {
      "id": 718,
      "value": "C#",
      "global_id": "esco_14399",
      "admin_approved": true,
      "text": "C#",
      "experience": 5,
      "interest": true,
      "top": false,
      "developmental": false,
      "assessed": false
    },
    {
      "id": 719,
      "value": "Haskell",
      "global_id": "sov_105181",
      "admin_approved": false,
      "text": "Haskell",
      "experience": 5,
      "interest": true,
      "top": false,
      "developmental": false,
      "assessed": false
    },
    {
      "id": 719,
      "value": "Erlang",
      "global_id": "sov_105181",
      "admin_approved": false,
      "text": "Erlang",
      "experience": 5,
      "interest": true,
      "top": false,
      "developmental": false,
      "assessed": false
    },
    {
      "id": 719,
      "value": "Lisp",
      "global_id": "sov_105181",
      "admin_approved": false,
      "text": "Lisp",
      "experience": 5,
      "interest": true,
      "top": false,
      "developmental": false,
      "assessed": false
    }
  ]
}
</textarea>
<br>
<br>

<div> email <input type="checkbox" id="ch_email" checked> </div>
<div> title <input type="checkbox" id="ch_title" checked> </div>
<div> status <input type="checkbox" id="ch_status" checked> </div>
<div> office <input type="checkbox" id="ch_kpmg_office" checked> </div>
<div> skills <input type="checkbox" id="ch_skills" checked> </div>

<br>
<br>
<button onclick="doExport()">
  export profile
</button>

<br>
<br>
<div id="perf"></div>

<!-- <script type="module" src="./node_modules/jspdf/dist/jspdf.es.js"></script> -->
<script src="./FileSaver.min.js"></script>
<script src="./jszip.min.js"></script>
<script type="module" src="./js.js"></script>
