<meta charset="utf-8">
<title>inky PT parser</title>

<style>
a[href]:hover { font-weight: bold }
textarea {
  width: 100%;
}
.col { flex: 1; }
.col > textarea { margin-top: 10px; }
.pending textarea { display: none }
.pending #reset { display: none }
#i { display: none; }
.pending #i { display: inline-block; }
textarea {
  resize: vertical;
  min-height: 300px;
}
</style>

<body class="pending">
<h1>inky parser <small>v0.2.2</small></h1>


<form id="form">
  <input type="file" id="i" accept=".json">
</form>
<div style="margin-bottom: 10px;">
<button id="reset" onclick="location.reload()">reload</button>
</div>

<div style="margin-bottom: 10px;">
  <label style="display:block"><input type="radio" name="sep" value="onlykey"> ONLY KEYS</label>
  <label style="display:block"><input type="radio" name="sep" value="tab"> tab </label>
  <label style="display:block"><input type="radio" name="sep" value="semicolon"> ; </label>
  <label style="display:block"><input type="radio" name="sep" value="dblsemicolon"> ;; </label>
</div>

<div style="width: 100%; display:flex;">
  <div class="col">
    <a id="csv" download="dialogs.csv">download csv</a>
    <textarea id="ta_csv"></textarea>
  </div>
  <div style="width: 10px"></div>
  <div class="col">
    <a id="json" download="keys.json">download key json</a>
    <textarea id="ta_json"></textarea>
  </div>
</div>
<div id="log-short">...</div>

<script src="script.js"></script>
</body>
