<meta charset='utf-8'>
<style>

@font-face {
  font-family: 'OpenSansEmoji';
  src: url("OpenSansEmoji.otf"),
       url("OpenSansEmoji.ttf") format('truetype');
}

body {
  font-family: sans-serif;
}

textarea {
  font-size: 20px;
  padding: 10px;
  border: 1px solid black;
  min-height: 100px;
}

#regular {
  font-family: sans-serif;
}

#forced {
  font-family: "OpenSansEmoji" !important;
}

#mixed {
  font-family: "Lucida Sans Unicode", "Arial Unicode MS", Arial, OpenSansEmoji, OpenSans, serif;
}

#mixed2 {
  font-family: OpenSans, serif;
}

</style>


<h3>regular:<h2>
<textarea id='regular'>FooBar 😀 😱 🤯 </textarea>

<h3>forced:</h3>
<textarea id='forced'>FooBar 😀 😱 🤯 </textarea>

<h3>mixed:</h3>
<textarea id='mixed'>FooBar 😀 😱 🤯 </textarea>

<h3>mixed2:</h3>
<textarea id='mixed2'>FooBar 😀 😱 🤯 </textarea>
