body {
  padding: 0 5px;
}

#all {
  display: flex;
  text-align: center;
  font-size: 45px;
  margin-top: -10px;
  flex: 1;
}

#center {
  flex: 1;
}

#wordssetname {
  position: fixed;
  top: 5px;
  left: 5px;
  pointer-events: none;
  opacity: 0.6;
}

#setbuttons {
  padding-top: 50px;
}

#setbuttons > a {
  display: block;
  width: 50%;
  padding: 20px 0;
  text-align: center;
  margin: 0 auto;
}

#info {
  padding: 20px;
  text-align: left;
  width: 100%;
}

#info > strong {
  display: block;
  text-align: center;
  margin-bottom: 5px;
}

#info > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#info > ul > li {
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

#info > ul > li:nth-child(2n) {
  background: #eee;
}

#info > ul > li > div > i {
  display: block;
}

#info > ul > li > span {
  text-align: right;
  white-space: nowrap;
}

#clear_info {
  margin: 20px auto;
  display: block;
}

body {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 auto;
  max-width: 500px;
}

#front {
  font-size: 0.9em;
  font-weight: 100;
  padding: 5px;
}

#back {
  margin-top: 20px;
}

#buttons {
  visibility: hidden;
  margin-top: 40px;
}

button {
  padding: 20px 40px;
  min-width: 100px;
  font-size: 20px;
}

#total {
  z-index: 99;
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.8;
  padding: 5px;
  padding-left: 40px;
  padding-bottom: 40px;
  /* background: rgba(255, 0, 0, 0.2); */
}

#total:hover {
  font-weight: bold;
}

#fail,
#ok {
  border: 1px solid rgba(0,0,0,0.3);
  color: #fff;
  font-weight: bold;
  text-shadow: 0 1px rgba(0,0,0,0.5);
  border-radius: 5px;
  box-shadow: inset -2px -2px 10px rgba(0,0,0,0.3);
}

#fail:hover,
#ok :hover {
  box-shadow: inset 2px 2px 10px rgba(0,0,0,0.3);
}

#fail {
  background: #e43;
}

#ok {
  background: #3b4;
}
