


<h1> svg hover example </h1>

<style>
.hoverable {
  display: inline-block;
  transition: transform ease 400ms;
  transform: scale(1, 1);
}
.hoverable:hover {
  transform: scale(0.25, 1);
}
</style>

<h2>just svg</h2>
<svg height="210" width="210" class="hoverable">
  <polygon points="100,10 40,198 190,78 10,78 160,198"/>
</svg>

<h2>nested div</h2>
<div class="hoverable">
  <svg height="210" width="210">
    <polygon points="100,10 40,198 190,78 10,78 160,198"/>
  </svg>
</div>

