h1 {
  position: fixed;
  margin: 0;
  top: 5px;
  left: 5px;
  pointer-events: none;
}

body {
  font-family: sans-serif;
  font-size: 18px;
  width: 800px;
  margin: 25px auto;
}

label > span {
  vertical-align: top;
}

#power {
  margin: 50px;
  text-align: center;
  font-size: 20px;
}

#power .big {
  font-size: 30px;
}

#power small {
  text-align: left;
  display: block;
  font-size: 18px;
  opacity: 0.6;
}

.special_items_widget label,
.special_items_widget input {
  display: none;
}

.flex {
  display: flex;
}

#items_wrap_1 {
  margin-right: 30px;
}

#ranges_hp_wrap {
  margin-top: -15px;
}

#leaders_checkboxes {
  display: flex;
  justify-content: space-around;

}

input[type=range] {
  width: 200px;
}
