/* schody */
.rs-theme-schody .rs-progress,
.rs-theme-schody .rs-progress::before { background: #b54956; }
.rs-theme-schody .rs-progress::before { border-radius: 10px 0 0 10px; }
.rs-theme-schody .rs-bar { height: 5px; border-radius: 10px; }
.rs-theme-schody .rs-handle { background: #000; }

/* RO */
.rs-theme-ro .rs-progress,
.rs-theme-ro .rs-progress::before { background: #aaa; }
.rs-theme-ro .rs-progress::before { border-radius: 10px 0 0 10px; }
.rs-theme-ro .rs-bar { height: 5px; border-radius: 10px; }
.rs-theme-ro .rs-handle { background: #666; }
