/* schody */
.rs-theme-schody .rs-progress,
.rs-theme-schody .rs-progress::before { background: #b54956; }
.rs-theme-schody .rs-progress::before { border-radius: 10px 0 0 10px; }
.rs-theme-schody .rs-bar { height: 5px; border-radius: 10px; }
.rs-theme-schody .rs-handle { background: #000; }

/* RO */
.rs-theme-ro .rs-progress,
.rs-theme-ro .rs-progress::before { background: #aaa; }
.rs-theme-ro .rs-progress::before { border-radius: 10px 0 0 10px; }
.rs-theme-ro .rs-bar { height: 5px; border-radius: 10px; }
.rs-theme-ro .rs-handle { background: #666; }

/* mobile */
.rs-handle::after {
  content: "";
  position: relative;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  opacity: 0;
  width: 60px;
  height: 60px;
  display: block;
  left: -22px;
  top: -22px;
}
