html,
body {
  font-family: sans-serif;
  font-weight: normal;
  font-size: 20px;
  padding: 0;
  margin: 0;
}
body {
  /* font-size: 18px; */
  background: #f6f6f6 !important;
  font-family: 'Poppins', sans-serif;
}

#root {
  max-width: 100%;
  min-width: 320px;
  overflow-x: hidden;
}

.top-section {
  box-sizing: border-box;
  height: 550px;
  height: 100vh; /* 128px profile section */
  min-height: 450px;
  text-transform: uppercase;
  position: relative;
}

@keyframes bg_in {
  from{ opacity:0; -webkit-transform:translate3d(0,-27px,0); transform:translate3d(0,-27px,0) }
  to{ opacity:1; -webkit-transform:translate3d(0,0,0); transform:translate3d(0,0,0) }
}

.top-section-bg {
  content: "";
  display: block;
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: -27px;
  background: #f6f6f6 url("./main_1.jpg") no-repeat center top;
  background-size: cover;

  animation-duration: 3s;
  animation-name: bg_in;
}

@media(max-width: 1000px) { .top-section:after { opacity: 0.5; } }
@media(max-width:  700px) { .top-section:after { opacity: 0.3; } }
@media(max-width:  500px) { .top-section:after { opacity: 0.2; } }

@keyframes fadein_a { 0% { opacity: 0; } 100% { opacity: 100%; } }
/* @keyframes fadein_c { 0% { opacity: 0; } 50% { opacity: 0; } 100% { opacity: 100%; } } */
/* @keyframes fadein_h { 0% { opacity: 0; } 75% { opacity: 0; } 100% { opacity: 100%; } } */
/* @keyframes fadein_k { 0% { opacity: 0; } 80% { opacity: 0; } 100% { opacity: 100%; } } */

.top-logo {
  margin: 45px 0 0 63px;
  animation-duration: 3s;
  animation-name: fadein_a;
  max-width: 700px;
}

.top-slogan {
  display: block;
  margin-left: 60px;
  width: 606px;
  text-align: justify;
  text-align-last: justify;
  letter-spacing: 2px;
  /* font-size: 20px; */
  padding-top: 10px;
  /* animation-duration: 1.5s; */
  /* animation-name: fadein_c; */
}

@keyframes cta_in {
  from{ opacity:0; -webkit-transform: translate3d(75px,0,0); transform:translate3d(75px,0,0) }
  25%{ opacity: 0; }
  to{ opacity:1;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0) }
}

.top-cta {
  left: 200px;
  text-align: right;
  /* font-size: 10px; */

  position: absolute;
  bottom: 150px;
  /* font-size: 16px; */

  animation-name: cta_in;
  animation-duration: 3.7s;
  animation-timing-function: cubic-bezier(.7,-.2,0.25,0.8);
}


.top-logo-and-cta-wrap {
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: space-between; */
  /* padding-bottom: 100px; */
  /* position: absolute; */
  /* top: 0; */
  /* bottom: 0; */
}

.top-cta {
}

.top-cta-inner {
  text-align: left;
}

.top-cta-hi, /* span */
.top-cta-lo { /* b */
  display: block;
  transition: opacity ease 200ms;
  opacity: 1;
}

.is-off .top-cta-hi,
.is-off .top-cta-lo {
  opacity: 0;
}

.top-cta-hi { /* span */
  font-size: 30px;
}

.top-cta-lo { /* b */
  font-size: 40px;
  padding: 12px 0 15px 20px;
  /* animation-duration: 3s; */
  /*animation-name: fadein_k;*/
}
.top-cta .btn {
  margin-left: 320px;
  /* animation-duration: 4s; */
  /* animation-name: fadein_k; */
}

.top-social {
  /* animation-name: fadein_a; */
  /* animation-duration: 2s; */

  color: #a9a9a9;
  position: absolute;
  top: 12px;
  right: 12px;
}
.top-social a {
  text-decoration: none;
  opacity: 0.3;
  display: inline-block;
  vertical-align: middle;
  padding: 5px;
  margin-right: 28px;
  transition: opacity ease 200ms;
}

.top-social a:last-child {
  margin-right: 0;
}
.top-social a:hover {
  opacity: 0.6;
}

.top-social svg {
  fill: currentColor;
  vertical-align: middle;
}

/* .btn */
.btn {
  white-space: nowrap;display: flex;
  display: inline-block;
  border: 1px solid currentColor;
  color: #444;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 20px;
  padding: 12px 36px 10px 36px;
  text-decoration: none;
  background: transparent;
  line-height: 1em;
  transition: color ease 200ms;
  cursor: pointer;
}

.btn:hover {
  color: #000;
}

/* PROFILE_SECITON */
.profil-section {
  background: #000;
  color: #fff;
  height: 128px;
  position: relative;
  overflow: hidden;
  margin-bottom: 50px;
}

.profil-section .cta-h {
  padding-top: 30px;
  float: left;
}

.profil-section label {
  display: inline-block;
}
.profil-section input {
  position: absolute;
  top: 100px;
  opacity: 0;
}

.profil-list {
  max-width: 1200px;
  padding: 0;
  margin: 0 auto;
  display: flex;
  flex-content: space-between;
  flex-direction: row;
  list-style-type: none;
}

.profil-list > li {
  display: block;
  flex-grow: 1;
  text-align: center;
}

@media(max-width: 900px){
  .profil-section .cta-h { float: none; }
  .profil-section {
    height: auto;
  }
}
@media(max-width: 700px){
  .profil-list {
    display: block;
  }
}

.profil-a {
  cursor: pointer;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 40px 20px;
  display: inline-block;
  white-space: nowrap;
  opacity: 0.7;
  transition: opacity ease 200ms;
}

.profil-a:hover,
input:checked + .profil-a {
  opacity: 1;
}

.profil-a > img {
  vertical-align: top;
  height: 50px;
}

.profil-a > span {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin-left: 16px;
  padding-top: 2px;
  font-size: 20px;
  line-height: 20px;
}
.profil-a > span > b {
  display: block;
}

/* CTA-H */

.cta-h {
  padding-top: 80px;
  position: relative;
}

.cta-h-num {
  position: absolute;
  width: 100px;
  text-align: right;
  font-size: 60px;
  line-height: 1em;
  margin-top: -2px;
  padding-right: 10px;
  padding-bottom: 5px;
  border-right: 5px solid currentColor;
}

.cta-h-text {
  min-height: 80px;
  padding-left: 130px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1em;
  margin-top: 1px;
}

.cta-h-text > small {
  display: block;
  margin-bottom: 10px;
}
.cta-h-text > b {
  font-size: 35px;
  display: block;
  margin-bottom: 10px;
}

@media(max-width: 400px) {
  .cta-h-num { width: 80px; }
  .cta-h-text { padding-left: 100px; }
}

/* ED */

.ed2 {
  display: flex;
  justify-content: space-between;
  padding: 0;
  max-width: 1800px;
  margin: 100px auto 50px auto;
  position: relative;
}

.ed2 .cta-h {
  padding-top: 0;
}

.ed2-col {
  flex-grow: 1;
  _border: 1px solid red;
  max-width: 500px;
  position: relative;
}

.ed2-col-preview {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 600px !important; /*bigger then others*/
}

.ed2-sch {
  position: absolute;
  right: 0;
  top: 100px;
  height: 200px;
}

.svgWrap {
 position: relative;
 padding: 20px 0 0 40px;
}
@media(max-width: 900px) {
  .svgWrap {
    padding: 0 10px;
  }
}

.ed2-widgets {
  padding: 0 20px;
  margin: 0;
  border-right: 5px solid transparent;
}

.ed2-photo {
  position: relative;
  overflow: hidden;
}

.ed2-photo-img,
.ed2-photo-zoom {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: 50% 50%;
  transition: transform ease 200ms;
  background-size: cover;
  transform: scale(1, 1);
}

.ed2-photo-img:hover {
  transform: scale(1.1, 1.1);
}

.ed2-photo-zoom {
  transition: all ease 200ms;
  opacity: 0;
  transform: scale(0.91, 0.91);
}

.ed2-photo-zoom:hover {
  opacity: 1;
  transform: scale(1, 1);
}

.ed2-photo-img[data-ptype=solid_1] { background-image: url(./main_pelne_1.jpg); }
.ed2-photo-img[data-ptype=solid_1] > .ed2-photo-zoom { background-image: url(./zoom_pelne_1.jpg); }

.ed2-photo-img[data-ptype=solid_2] { background-image: url(./main_pelne_2.jpg); }
.ed2-photo-img[data-ptype=solid_2] > .ed2-photo-zoom { background-image: url(./zoom_pelne_2.jpg); }

.ed2-photo-img[data-ptype=square15] { background-image: url(./main_proste_ch.jpg); }
.ed2-photo-img[data-ptype=square15] > .ed2-photo-zoom { background-image: url(./zoom_proste_ch.jpg); }

.ed2-photo-img[data-ptype=square30] { background-image: url(./main_proste_g.jpg); }
.ed2-photo-img[data-ptype=square30] > .ed2-photo-zoom { background-image: url(./zoom_proste_g.jpg); }

.ed2-photo-img[data-ptype=slanted15] { background-image: url(./main_skosne_ch.jpg); }
.ed2-photo-img[data-ptype=slanted15] > .ed2-photo-zoom { background-image: url(./zoom_skosne_ch.jpg); }

.ed2-photo-img[data-ptype=slanted30] { background-image: url(./main_skosne_g.jpg); }
.ed2-photo-img[data-ptype=slanted30] > .ed2-photo-zoom { background-image: url(./zoom_skosne_g.jpg); }

.ed {
  display: flex;
  justify-content: space-between;
  /* padding: 0 20px; */
  padding: 0;
  max-width: 1800px;
  margin: 0 auto 50px auto;
}

.ed-col {
  min-height: 420px;
  flex-grow: 1;
  _border: 1px solid red;
}

@media(max-width: 900px) {
  .ed {
    display: block;
  }
  .ed-col {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}

.ed-preview {
  min-width: 300px;
  max-height: 600px;
}

@media(max-width: 1000px) {
  #preview-dim { }
  #preview-main { margin-top: 100px; }
}

@media(max-width: 500px) {
  #preview-dim { display: none; }
  #preview-main { margin-top: 0; }
}

.ed-preview svg {
  position: relative;
  max-height: 100%;
  max-width: 560px;
  display: block;
  margin: 0 auto;
  /* outline: 1px dashed gray; */
}

.ed-widgets {
  max-width: 465px;
  min-width: 400px;
  margin-top: -100px;
  position: relative;
  margin-left: 100px;
  margin-right: 100px;
}

.ed-photo {
  overflow: hidden;
  position: relative;
  display: none;
  margin-top: -100px;
  margin-bottom: 50px;
  display: block;
}
@media(max-width: 1200px){
  .ed-photo{
    display: none;
  }
}

.ed-photo-img:hover {
  transform: scale(1.2, 1.2);
}

@media(min-width: 1000px) {
  .ed-photo {
    min-width: 200px;
  }
}

@media(min-width: 1500px) {
  .ed-photo {
    min-width: 400px;
  }
}

/* cost */
.cost {
  margin-top: 100px;
  max-width: 1400px;
  font-size: 20px;
  text-transform: uppercase;
  justify-content: flex-start;
  padding: 0 20px;
  padding-left: 140px;
  margin-bottom: 70px;

  display: flex;
  flex-content: space-between;
  flex-direction: row;
}

.cost-el {
  display: inline-block;
  margin-right: 50px;
  flex-grow: 1;
}

@media(max-width: 700px){
  .cost {
    display: block;
    margin-bottom: 20px;
  }
  .cost-el {
    margin-bottom: 20px;
  }
}

@media(max-width: 500px){
  .cost {
    margin-top: 30px;
    padding-left: 70px;
  }
}

.cost-text {
  font-size: 25px;
  margin-right: 10px;
}

.cost-val {
  font-size: 35px;
  text-transform: none;
}

/* contact */
.contact {
  margin-bottom: 200px;
  margin-top: 30px;
}

.contact--inputs {
  display: inline-block;
  width: 500px;
}

.contact--name {
  width: 100%;
  margin-bottom: 15px;
}

.contact-cols {
  display: flex;
  justify-content: flex-start;
  max-width: 1560px;
}

.contact-col {
  width: 50%;
}

.contact-col:last-child {
}

.contact--line2 {
  width: 100%;
  text-align: justify;
  text-align-last: justify;
  margin-bottom: 30px;
}

.contact--form {
  padding-left: 50px;
}

.contact--email,
.contact--tel {
  width: 45%;
}

.contact--email {
}
.contact--tel {
}

.contact .cta-h {
  padding-top: 50px;
}

@media(max-width: 600px){
  .contact {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .contact--inputs {
    width: auto;
  }
  .contact--email,
  .contact--tel,
  .contact-name {
    width: 100%;
    margin: 20px 0 30px 0;
  }
}

.valInput {
  border: 0;
  font-weight: bold;
  background: 0;
  display: inline-block;
  padding: 0 5px;
  vertical-align: top;
  z-index: 9;
  position: relative;
  font-size: 22px;
  margin-top: -3px;
}

/* form items */
.profileInputWrap,
.rangeInput {
  margin-bottom: 30px;
  white-space: nowrap;
}

.profileInputWrap.is-disabled {
  opacity: 0.6;
  pointer-events: none;
}

.rangeInput:last-child {
  margin-bottom: 0;
}

.rangeInput > span {
  font-weight: bold;
}

.inputTitle {
  text-transform: uppercase;
  margin-bottom: 10px;
  white-space: normal;
}

.rangeInputElWrap {
  display: inline-block;
  width: calc(100% - 130px);

}
.rangeInput > input {
}
.rangeInput > span {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}

.fancyRadio {
  font-weight: bold;
  display: inline-block;
}

.fancyRadio input {
  display: none;
}

.fancyRadio img {
  vertical-align: middle;
  margin-right: 20px;
}

.fancyRadio span {
  vertical-align: middle;
}

.fancyRadio i {
  display: inline-block;
  border: 2px solid #000;
  background: #f6f6f6;
  border-radius: 10px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  position: relative;
}

.fancyRadio i:after {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  display: block;
  content: "";
  background: #000;
  border-radius: 10px;
  transform: scale(0,0);
  transition: transform ease 200ms;
}

.fancyRadio input:checked + i:after {
  transform: scale(1,1);
}

.fancyRadio,
.fancyRadios { white-space: nowrap }
.fancyRadios .fancyRadio {
  padding-bottom: 20px;
  margin-right: 32px;
}
.fancyRadios {
  margin-bottom: -20px;
}
@media(max-width: 500px) {
  .fancyRadios { white-space: normal; }
}

.fancyRadios .fancyRadio:last-child {
  margin-right: 0;
}

/* floatINput */
.floatInput {
  border-width: 0;
  color: rgba(#2c3e50, .75);
  position: relative;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1;
  display: inline-block;
  margin-top: 10px;
}

.floatInput > input {
  border: 0;
  border-bottom: 2px solid #888;
  background-color: transparent;
  font-size: 20px;
  width: 100%;
  box-sizing: border-box;
  transition: border-color 200ms;
}

.floatInput > input:focus { outline: 0; box-shadow: 0; }
.floatInput > input:invalid { outline: 0; box-shadow: none; }
.floatInput > input::placeholder { color: transparent; }
.floatInput > input::-ms-placeholder { color: transparent; }

.floatInput > input,
.floatInput > label {
  position: relative;
  font: inherit;
  padding: 1em 1.5em 0.5em 1.5em;
  display: block;
}
.floatInput > label > span {
  display: inline-block;
}

.floatInput > label {
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;

  transition: transform 200ms, opacity 200ms ease;
  transform-origin: 0 0;
  opacity: .5;
}

.floatInput > input:focus {
  border-color: #000;
}
.floatInput > input:focus + label {
  color: #000;
  opacity: 1;
}
.floatInput > input:focus + label,
.floatInput > input.is-up + label { /* js controlled because ms-edge */
  transform: translate(1%, -50%) scale(.8);
}
/*********************************/

.about {
  display: flex;
  margin-bottom: 150px;
}

.about-left {
  max-width: 420px;
}

.about-left img {
  width: 100%;
}


.about-right {
  padding: 0 30px;
}

.about-right h3 {
  font-size: 60px;
  font-weight: normal;
  text-transform: uppercase;
  margin: 0;
  margin-top: -18px;
  padding-bottom: 10px;
  position: relative;
}
.about-right h3:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 110px;
  left: -50px;
  border-bottom: 3px solid black;
}

.about-right p {
  font-size: 20px;
  line-height: 1.5em;
  max-width: 1200px;
}

/*********************************/
.contact2 {
  background: #dcdddf;
  display: flex;
  font-size: 25px;
}

.contact2 h4 {
  margin: 0;
}
.contact2-left {
  flex-grow: 2;
  padding: 25px 50px;
}

.contact2-address {
  padding: 30px 0;
}
.contact2-right {
  width: 300px;
}

.contact2 a {
  text-decoration: none;
  color: inherit;
}

.contact2 a:hover {
  opacity: 0.5;
}

/*********************************/
.footer {
  font-size: 15px;
  padding: 20px 50px;
  height: 60px;
  background: #000;
  color: #fff;
}

.footer > span {
  text-transform: uppercase;
  display: inline-block;
  padding: 20px 0;
}

#footer-arr {
  float: right;
  height: 60px;
  width: 60px;
}

#footer-arr:hover {
  opacity: 0.8;
  cursor: pointer;
}


/**********************************************/

@media(max-height: 450px) {
  .top-cta { left: 0; right: 0; text-align: center; }
  .top-cta * { margin: 0 !important; text-align: center !important; }
  .top-section { padding-bottom: 45px; }
  .top-cta-lo { font-size: 30px; }
  .top-cta-hi { font-size: 25px; }
  .top-cta-lo { padding-left: 0; }
}
@media(max-height: 600px) { .top-cta { bottom: 100px; } }
@media(max-height: 500px) { .top-cta { bottom: 50px; } }

@media(max-height: 400px) {
  .top-cta { position: static; left: 0; right: 0; text-align: center; padding: 50px 10px 0 10px; }
  .top-cta-lo { padding-left: 0; }
}

@media(max-width: 800px) {
  .top-cta { left: 0; right: 0; text-align: center; padding: 0 10px; }
  .top-cta * { margin: 0 !important; text-align: center !important; }
  .top-section { padding-bottom: 45px; }
  .top-cta-lo { font-size: 30px; }
  .top-cta-hi { font-size: 25px; }
  .top-cta-lo { padding-left: 0; }
}

@media(max-width: 600px) {
  .top-section {
    padding-top: 100px;
    text-align: center;
  }
  .top-logo {
    margin: 0;
    max-width: 75% !important;
  }
}

@media(max-width: 400px) {
}

.ed2-out-h { display: none; }
.ed2-in-h { display: block; }
@media(max-width: 767px) {
  .ed2 {
    display: block;
  }
  .ed2-col {
    margin: 0 auto;
  }
  .ed2-out-h { display: block; }
  .ed2-in-h { display: none; }
  .ed2-widgets {
    margin-top: 50px;
  }
  .ed2-sch {
    position: static !important;
    width: 250px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  .ed2 svg {
    margin-top: 0 !important;
  }
  .ed2 .svgWrap {
    padding-top: 0 !important;
  }
}

@media(max-width: 1000px) {
  .ed2-photo { display: none; }
}

@media(max-width: 1200px) {
  .top-logo {
    max-width: 400px;
  }

  .cta-h-num { font-size: 50px; }
  .cta-h-text > small { margin-top: -2px; }
  .cta-h-text > b { font-size: 30px; }


  .ed2-col {
    max-width: 400px !important;
  }
  .ed2 {
    justify-content: space-around;
  }

}

@media(max-width: 1200px) {
  .contact-cols {
    display: block;
  }
  .contact-col {
    width: 100%;
  }
  .contact--form {
    padding: 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom:  -40px;
  }
  .contact--inputs {
    margin-right: 0;
  }
}
@media(max-width: 1300px) {
  .ed2-col { max-width: 370px; }
}

@media(max-width: 500px) {
  .about-left {
    display: none;
  }
}

@media(max-width: 700px) {
  .contact2 {
    display: block;
  }
  .contact2-right {
    width: 100%;
  }
}

@media(max-width: 800px) {
  .footer {
    text-align: center;
    height: auto;
  }
  #footer-arr {
    display: block;
    float: none;
    margin: 10px auto;
  }
}

