body {
  text-align: center;
  font-family: sans-serif;
  max-width: 500px;
  margin: 50px auto;
}
#report {
  margin-top: 50px;
  text-align: left;
  font-size: 18px;
  list-style: none;
  padding: 0;
}
#report:empty {
  display: none;
}

#report > li.isHelp {
  color: orange;
  font-weight: bold;
}

#report > li.isErr {
  color: red;
  font-weight: bold;
}

#report small {
  color: #000;
  font-weight: normal;
  margin-left: 10px;
}

h1 { font-size: 20px; font-weight: normal; }
h1 > div {
  font-size: 50px;
}
input,
select {
  font-size: 20px;
}
input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding: 20px;
  font-size: 20px;
}
select + strong {
  display: block;
  font-size: 20px;
  font-weight: normal;
  margin: 50px 0 20px 0;
}
select + strong > small {
  display: block;
  opacity: 0.6;
}

footer{
  opacity: 0.8;
  margin-top: 50px;
  text-align: left;
}
footer > div {
  margin-bottom: 5px;
}

@keyframes wiggle {
   10% { transform: translateX(-15px); }
   20% { transform: translateX(15px); }
   30% { transform: translateX(-8px); }
   40% { transform: translateX(8px); }
   50% { transform: translateX(-5px); }
   60% { transform: translateX(5px); }
   70% { transform: translateX(-2px); }
   80% { transform: translateX(2px); }
   90% { transform: translateX(0px); }
   100% { transform: translateX(0px); }
}

@keyframes success {
   0% { transform: scale(1); }
   25% { transform: scale(1.08); }
   50% { transform: scale(0.9); }
   70% { transform: scale(1); }
}

.inputWrap {
  position: relative;
}

@keyframes showinfo {
   0% { transform: translateY(0); opacity: 0.9; }
   20% { transform: translateY(50px); opacity: 0.7; }
   50% { transform: translateY(50px); opacity: 0.6; }
   100% { transform: translateY(55px); opacity: 0.0; }
}

.inputWrapInfo {
  position: absolute;
  display: block;
  left: 22px;
  top: 22px;
  font-size: 20px;
  text-align: left;
  opacity: 0;
  pointer-events: none;
  transform: translate(0, 0);
  z-index: 99;
}
.__inputWrapInfo:empty { display: none; }
.inputWrapInfo[data-show] { animation-duration: 2s; animation-name: showinfo; }

input[data-error] { animation-duration: .3s; animation-name: wiggle; }
input[data-correct] { animation-duration: .5s; animation-name: success; }
