#phoneContainer {
    width: auto;
    background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1001;
    display: none;
    padding: 10px;
    text-align: center;
    border-radius: 16px 16px 0 0;
}
@media(min-width: 400px) {
    #phoneContainer {
        right: 65px;
        left: auto;
        bottom: 60px;
        width: 320px;
    }
}

#phoneContainer #closechat {
    /*! display: none; */
    position: absolute;
    top: -10px;
    right: -10px;
    width: 50px;
    height: 50px;
    display: block;
    line-height: 50px;
}
#phoneContainer #closechat:hover {
  opacity: 0.5;
    cursor: pointer;
}

.animate {
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% { border: 0px solid #FF9900; opacity: 0.6; }
    20% { border: 2px solid #FF9900; opacity: 0.8; }
    40% { border: 4px solid #FF9900; opacity: 1; }
    60% { border: 6px solid #13a538; opacity: 1; }
    80% { border: 4px solid #FF9900; opacity: 1; }
    100% { border: 2px solid #FF9900; opacity: 0.8; }
}

#fakechatContainer {
    width: 300px;
    background-color: #fff;
    box-shadow: 0px 0px 0 1px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: none;
    /* border: 1px solid rgba(0,0,0,0.2); */
}

#fakechat {
    padding: 0 10px 5px;
}

#chathead {
    background-color: #f90;
    height: 30px;
    margin-bottom: 7px;
    border-radius: 0 4px 0 0;
    position: relative;
}

#chathead .fa-times {
    position: absolute;
    color: #fff;
    top: 2px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}

#fakechat .selectInput {
    width: 100%;
    clear: both;
    margin-top: 10px;
    display: block;
}

#fakechat select {
    font-family: 'Roboto';
    height: 30px;
    border-radius: 50px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    appearance: none;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 25px;
    font-size: 13px;
    width: 100%;
    background: white;
}
#fakechat select:active,
#fakechat select:focus {
    border: 1px solid rgba(0, 0, 0, 0.25);
    outline: 0;
}

#fakechat select option {
    font-size: 13px;
}

#fakechat .selectInput.fa-angle-down {
    position: relative;
    /* border: 1px solid rgba(0,0,0,0.25); */
}

#fakechat .selectInput.fa-angle-down::before {
    content: '';
    position: absolute;
    top: 9px;
    right: 10px;
    border: 2px solid rgba(0, 0, 0, 0.4);
    border-top: 0;
    border-left: 0;
    width: 8px;
    display: block;
    height: 8px;
    transform: rotate(45deg);
}

#fakechat select::-ms-expand {
    display: none;
}

#fakechat .radiobutton {
    display: block;
    position: relative;
    margin-top: 6px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-radius: 4px;
}

#fakechat #phoneradio {
    margin-top: 2px;
}

#fakechat .radiobutton label {
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    height: 20px;
    display: inline-flex;
    align-items: center;
}

#fakechat .radiobutton input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 20px;
    width: 20px;
    left: 0;
    margin: 0;
    z-index: 1000;
}

#fakechat .radiobutton input:active ~ .checkmark,
#fakechat .radiobutton input:focus  ~ .checkmark
{
    border: 1px solid #555;
}


#fakechat .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #dae4ea;
    border-radius: 50%;
    border: 1px solid #dae4ea;
}

#fakechat .radiobutton:hover input~.checkmark {
    background-color: rgba(0, 0, 0, 0.2);
}

#fakechat .radiobutton input:checked~.checkmark {
    background-color: rgba(0, 0, 0, 0.1);
}

#fakechat .checkmark::after {
    content: "";
    position: absolute;
    display: none;
}

#fakechat .radiobutton input:checked~.checkmark::after {
    display: block;
}

#fakechat .radiobutton .checkmark::after {
    top: 4px;
    left: 4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ff9900;
}

#fakechat .radiobutton input:checked+label {
    font-weight: 700;
    color: #ff9900;
}

#fake_chat_form * {
    font-family: 'Roboto', sans-serif !important;
    color: #485a63;
    font-size: 13px;
}

#fake_chat_form .selectInput ul.sbOptions {
    top: 50px !important;
}

#fake_chat_form .selectInput ul.sbOptions li::before {
    content: none;
}

#reasoninput {
    display: block !important;
}

#fakechat .sbHolder {
    display: none !important;
}

#fakechat .textchat {
    margin-bottom: 7px;
    /* padding: 2px; */
    width: 80%;
    /* color: #485a63; */
}

#textchata {
    border: 0px solid #FF9900;
    background-color: #FF9900;
    border-radius: 18px 18px 0px 18px;
    -webkit-box-shadow: -10px 10px 5px -5px rgba(72, 90, 99, 0.25);
    -moz-box-shadow: -10px 10px 5px -5px rgba(72, 90, 99, 0.25);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.125);
    float: right;
    padding: 6px 12px;
    font-size: 13px;
    color: black;
}

#fakechat .textchat p:last-child {
    margin-bottom: 0;
}

#textchatq,
#textchatt {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 18px 18px 18px 0;
    -webkit-box-shadow: 10px 10px 5px -5px rgba(72, 90, 99, 0.25);
    -moz-box-shadow: 10px 10px 5px -5px rgba(72, 90, 99, 0.25);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.125);
    float: left;
    padding: 8px 12px;
    font-size: 13px;
    color: #485a63;
}

#textchatt {
    display: none;
}

#fakechat .textchat p {
    margin-bottom: 10px;
}

#input_container {
    margin-top: 8px;
    display: none;
}

#fakechat .textInput {
    height: 30px;
    margin-top: 5px;
}

#fakechat .semiwidth {
    display: inline-block;
    width: 49%;
}

#fakechat input {
    font-size: 13px;
    width: 100%;
}

#fakechat .textInput .text {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 50px;
    height: 30px;
    font-family: 'Roboto';
    padding: 5px 10px;
}

#fakechat .textInput .text:focus, 
#fakechat .textInput .text:active {
    border: 1px solid rgba(0, 0, 0, 0.25);
    outline: 0;
}

#submit_btn {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    border: 0px solid #f90;
    background-color: #f90;
    padding: 8px;
    border-radius: 50px;
    margin-top: 8px;
    width: 100%;
    cursor: pointer;
    border: 1px solid #bf8c40;
    box-shadow: inset 0 0 0 2px white;
    color: black;
}

#submit_btn:hover {
    background: #ffad33 !important;
}

#helpclose {
    text-align: center;
    font-family: Roboto;
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    border: 0px solid #f90;
    background-color: #f90;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px;
    cursor: pointer;
    position: relative;
    padding-left: 50px;
    padding-right: 50px;
    height: 40px;
}

#helpclose .fa-comment {
    position: absolute;
    top: 6.5px;
    left: 20px;
    font-size: 25px;
    pointer-events: none;
}

#privacy,
#privacy a {
    font-size: 11px;
}

#privacy a {
    color: #f90;
}

#textfield {
    border-radius: 16px 16px 0 0;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px 16px 0 0;
    border: 1px solid rgba(0, 0, 0, 0.125);
    color: #485a63;
    padding: 5px 10px;
    min-height: 55px;
    height: auto;
    margin-top: 6px;
    display: block;
    width: 100%;
}

#textfield:active,
#textfield:focus {
    border: 1px solid rgba(0, 0, 0, 0.25);
    outline: 0;
}

}

.errorShadow {
    box-shadow: 5px 5px 5px 0px rgba(255, 0, 0, 0.65);
}

/* verschiebt top icon an seitenende um 50 px nach oben -> wird bei w > 768 aufgehoben */
#top-icon {
    bottom: calc(1.25rem + 50px) !important;
}

#top-icon-bg {
    bottom: calc(1.313rem + 50px) !important;
}

/* Styles fÃ¼r Badge_Container = Container mit Icons: fixed, bottom, height -> wird bei w > 768 Ã¼berschrieben */
#Badge_Container {
    position: fixed;
    margin: 0 !important;
    display: block;
    right: -155px;
    bottom: 20px;
    width: auto;
    border: 0px;
    z-index: 999;
}

/* setzt die Breite Badge_Phone, #Badge_Contact als Standard auf 50% -> wird bei w > 768 Ã¼berschrieben */
#Badge_Phone {
    width: 50%;
    height: 60px;
    padding-top: 0px;
}

#Badge_Phone img {
    height: 60px;
    width: 60px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

#Badge_Mail {
    width: 50%;
    height: 60px;
    padding-top: 0px;
}

#Badge_Mail img.Mailicn {
    height: 60px;
    width: 60px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
    /* opacity: 0.5; */
}

#Badge_Chat img.Chaticn {
    height: 60px;
    width: 60px;
    border-top-left-radius: 45px;
    border-top-right-radius: 45px;
    border-bottom-left-radius: 45px;
    border-bottom-right-radius: 45px;
}

span#lpcplace {
    position: relative;
    top: -50px;
    left: -140px;
    max-Width: 140px;
    color: #fff;
    font-weight: 700;
    background-color: #ff9900;
    padding: 10px;
    display: none;
}

/* setzt erstes a Element im Standard auf none, zweites auf block -> wird bei w > 768 Ã¼berschrieben  */
#Badge_Phone>a:nth-child(1) { display: none; }
#Badge_Phone>a:nth-child(2) { display: block; }
#Badge_Mail>a:nth-child(1) { display: none; }
#Badge_Mail>a:nth-child(2) { display: block; }
#Badge_Chat { display: none; }

/* hebt die verschiebung von top icon an seitenende fÃ¼r >768px auf  */
#top-icon {
    bottom: 1.25rem !important;
}

#top-icon-bg {
    bottom: 1.313rem !important;
}

/* setzt die Breite Badge_Phone, #Badge_Contact fÃ¼r >768px auf 100% */
#Badge_Phone {
    padding-top: 5px;
}

#Badge_Mail {
    display: block;
}

#Badge_Chat {
    display: none;
    padding-top: 10px;
}

#Badge_Mail,
#Badge_Phone,
#Badge_Chat {
    width: 100%;
    transform: scale(0.96);
}


@media(min-width:768px)
{
    #Badge_Chat { display: block; }
}

/* setzt bei w > 768 erstes a Element im Standard auf block, zweites auf none  */
#Badge_Phone>a:nth-child(1) {
    display: block;
}

#Badge_Phone>a:nth-child(2) {
    display: none;
}

#Badge_Phone>a {
    right: -175px;
    min-width: 230px;
}

#Badge_Phone>a:hover span#lpcplace {
    display: block;
}

#Badge_Mail>a:nth-child(1) {
    display: block;
}

#Badge_Mail>a:nth-child(2) {
    display: none;
}

#Badge_Chat>a>span,
#Badge_Phone>a>span,
#Badge_Mail>a>span {
    display: block;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    overflow: hidden;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
    transition: ease box-shadow 200ms;
    border: 1px solid #f68f24;
}

#Badge_Chat>a:hover>span,
#Badge_Phone>a:hover>span,
#Badge_Mail>a:hover>span {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    background: #fff;
}

#Badge_Chat>a>span>img,
#Badge_Phone>a>span>img,
#Badge_Mail>a>span>img {
    transform: scale(1.15);
    transition: transform box-shadow 200ms;
}

#Badge_Chat>a:hover>span>img,
#Badge_Phone>a:hover>span>img,
#Badge_Mail>a:hover>span>img {
    transform: scale(1.25);
    opacity: 0.85;
}

#closechat.fa.fa-times {
    line-height: 1em;
}

#closechat.fa.fa-times:hover {
    opacity: 0.6;
}

.fa.fa-times::after {
    content: "\d7";
    font-weight: bold;
}
