
h1 {
  margin-top: 0;
  font-weight: normal;
}

h2, h3, h4 {
  margin-top: 2em;
  font-weight: normal;
}

body {
    background-color: #fafafa;
    color: #000;
    font-family: sans-serif;
    line-height: 1.45;
    margin: 6rem auto 1rem;
    max-width: 52rem;
    padding: 0.25rem;
    font-size: 18px;
}

img {
  max-width: 100%;
  display: block;
  margin: 40px auto;
}

a:hover {
  text-decoration: none;
}

blockquote {
  border-left: 3px solid #aaa;
  padding-left: 1rem;
}

li > a {
  display: inline-block;
  padding: 5px 0;
}
