* {
  font-family: sans-serif;
  box-sizing: border-box;
  cursor: default;
}

.version {
  text-align: center;
  opacity: 0.5;
}

button {
  padding: 20px 40px;
}

#rootroot {
  width: 1200px;
  height: 600px;
  border: 2px solid black;
  position: relative;
  margin: 0 auto;
  margin-top: 20px;
  /* overflow: hidden; */
}
#rootroot > strong { display: block; text-align: center; padding: 20px; }

.portraits {
  position: absolute;
  bottom: 5px;
  left: 10px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.portrait.dead { pointer-events: none; }
.portrait.dead img { opacity: 0.2; }
.portrait.dead .hp > div { opacity: 0; }
.portrait.dead .act { visibility: hidden; }
.portrait.dead .portrait-name { color: rgba(255, 255, 255, 0.7); }

.portrait.dead .potrait-is-dead-label { display: block; }
.potrait-is-dead-label {
  display: none;
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  text-align: center;
  font-weight: bold;
  transform: rotate(-45deg);
}

.portrait {
  display: inline-block;
  text-align: center;
  position: relative;
}

.portrait.off img {
  opacity: 0.5;
  filter: contrast(600%);
}

.portrait.l + .portrait.w {
  margin-left: 20px;
}

.portrait-sad {
  position: absolute;
  right: 0;
  top: -4px;
  font-size: 20px;
}

.portrait-name {
  position: relative;
  text-align: left;
  background: #000;
  color: #fff;
  display: block;
  padding: 2px 5px;
}

.portrait-sel:before,
.portrait-sel:after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -20px;
  margin-left: -12px;
  border: 12px solid transparent;
  border-top: 12px solid black;
}

.portrait-sel:after {
  margin-top: -27px;
  border-top-color: white;
}

.portrait img { display: block; }
.portrait:hover img { filter: contrast(600%); transform: scale(1.1); }
.portrait:hover .portrait-name { font-weight: bold }
.portrait-sel:hover img,
.portrait-sel img { filter: contrast(600%) drop-shadow(0 0 3px red); }

.portrait img {
  width: 80px;
  height: 80px;
}

.act {
  width: 25px;
  height: 25px;
  background: #000;
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #ccc;
  background: #fff;
}

.act-on {
  border-color: black;
  background: #6a3;
}

.hp {
  width: 100%;
  border: 1px solid black;
  background: #020;
  height: 14px;
  margin-bottom: 5px;
}

.hp > div {
  background: #44891a;
  height: 12px;
}

.ms {
  list-style: none;
  padding: 0;
  text-align: center;
  margin: 10px auto 0 auto;
  white-space: nowrap;
  width: 100%;
}

.m {
  position: relative;
  vertical-align: top;
  display: inline-block;
  border: 2px solid black;
  width: 160px;
  height: 200px;
  padding: 10px 0;
}

.m-cluttered {
  background: #999;
}

.m-empty {
  border-style: dotted;
}

.m-empty b {
  color: #44891a;
}

.m:hover {
  background: #ccc;
}

.m > strong:first-child {
  display: block;
}

.m-icon {
  position: absolute;
  top: 0;
  left: 5px;
  font-size: 20px;
}

.m-charTip { padding: 10px; display: none; }
.m:hover .m-charTip {
  display: block;
  white-space: normal;
}

.inv {
  font-size: 20px;
  border-bottom: 2px solid black;
  padding: 5px 0;
}

.inv > span { margin-left: 20px; }
.inv-low { color: #ee2633; }

.tip {
  position: absolute;
  background: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 10px;
  z-index: 999;
  text-align: left;
}

.tip-portrait {
  bottom: 100%;
  left: 10px;
  white-space: nowrap;
}

.tip-portrait .c {
  opacity: 0.75;
}

.tip-portrait .r {
  margin-top: 5px;
  color: #ee2633;
  font-weight: bold;
}

.exp {
  text-align: center;
  padding: 30px;
}

.exp > strong {
  display: block;
  padding-bottom: 20px;
}

.exp-line {
  padding: 10px;
}

.exp-b {
  margin-top: 30px;
}

.occupants {
  bottom: 0;
  right: 0;
  position: absolute;
}

.occupants > div {
  position: relative;
  display: inline-block;
}

.occupants > div > span {
  display: none;
  position: absolute;
  top: 100%;
  background: black;
  color: white;
  padding: 5px;
}

.occupants > div:hover > span {
  display: block;
}

.occupants img {
  width: 30px;
  height: 30px;
}

.alert {
  z-index: 995;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.alert > div {
  text-align: center;
  padding: 30px;
  border: 1px solid black;
  background: white;
  box-shadow: 5px 5px 0 #000;
}

.report {
  padding: 20px;
  text-align: center;
}

.report p:empty {
  display: none;
}

.report p {
}

.travel-b-consumption { visibility: hidden; font-size: 16px; }
.travel-b:hover .travel-b-consumption { visibility: visible; }
.travel-b .t-b { position: relative; display: inline-block; transform: translate(0, 7px); }
.travel-b:hover .t-b { transform: translate(0, 0); }
.travel-b-shortage { color: #be2633; }

.travel-num {
  min-height: 90px;
}

.travel-b {
  position: absolute;
  top: 45px;
  right: 10px;
}

@keyframes blink {
  0% {
    box-shadow: inset 0 2px 15px rgba(0, 0, 1, 0%);
  }
  100% {
    box-shadow: inset 0 2px 15px rgba(0, 0, 1, 70%);
  }
}

.travel-b-blink:not(:hover) {
  animation: blink 0.6s steps(2) infinite;
}

.build-li { position: relative; }
.build-li:hover .build-li-tip { display: block; }
.build-li-tip {
  display: none;
  position: absolute;
  top: -5px;
  left: 100%;
  margin-left: -5px;
  background: black;
  color: white;
  white-space: nowrap;
  padding: 8px 16px;
}

.build-menu {
  position: absolute;
  top: 45px;
  left: 10px;
  z-index: 990;
}

.build-menu ul {
  border: 1px solid black;
  box-shadow: 5px 5px 0 #000;
  padding: 0;
  margin: 0;
  list-style: none;
  background: white;
}

.build-menu ul > li {
  padding: 10px;
  margin: 0;
  width: 150px;
}

.build-menu-expensive { color: #be2633; }
.build-menu li > big { float: right; }
.build-menu ul > li:hover { background: #ccc; }
.build-menu-cover {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(255, 255, 255, 0.01);
  z-index: 980;
}

.cheats {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  right: 0;
  text-align: right;
}

.cheats summary {
  margin-bottom: 5px;
}

.cheats button {
  padding: 4px 8px;
}

.help {
}

.help-bg {
  position: absolute;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background: rgba(0,0,0,0.3);
  z-index: 1080;
}

.help-buttons {
  text-align: right;
  margin-top: 10px;
}

.help-buttons > button {
  padding: 10px 15px;
}

.help-tip {
  z-index: 1081;
  padding: 25px 30px;
  width: 300px;
  white-space: normal;
  position: absolute;
  left: 10px;
  background: #fff;
  border: 2px solid black;
  box-shadow: 5px 5px 0 #000;
}

.help-bottom {
  position: absolute;
  top: 100%;
  margin-top: 10px;
  left: 0;
  text-align: left;
}

@keyframes focus {
  0% {
    outline: 5px solid red;
  }
  100% {
    outline: none;
  }
}

.help-focus {
  animation: focus 0.7s steps(2) infinite;
}

.hid { display: none }

